.dashboard-area {
  background-color: rgb(229, 229, 229);
  width: 100%;
  padding: 40px;
  @media screen and(max-width:576px) {
    padding: 20px;
  }
}
.info-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.graph-area {
  height: 400px;
  margin-top: 1rem;
  border: 1px solid #eef8fd;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  background-color: #f7f8fa;
  margin-bottom: 43px;
  padding: 1rem;
}
.graphBody-header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.load {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
h3,
h4 {
  font-weight: normal;
}
