table {
  margin: 1rem 0px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
  .avatar {
    margin-right: 26px;
    width: 40px;
  }
}
th {
  background: #eaeef0;
  color: #6a7687;
  font-size: 14px;
  font-weight: normal;
}

td {
  background-color: #fff;
  &:first-child {
    display: flex;
    align-items: center;
    color: #6a7687;
  }
  color: #6a7687;
}
td,
th {
  border-bottom: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  padding-left: 26px;
}
